{% extends 'base.html' %}

{% block title %} Login {% endblock %}
{% block head %}
  <link rel="stylesheet" href="{{ url_for('static',filename='/styles/cross_style.css')}}">
{% endblock %}
{% block body %}

<div class="jumbotron">

      {% with messages = get_flashed_messages(with_categories=true,category_filter=["user","password"]) %}
        {% if messages %}
        <div class="alert alert-danger " role="alert">
          {% for category, message in messages %}
            {% if "user" == category %}
              {{message}}
            {% elif "password" == category %}
              {{message}}
            {% endif %}
          {% endfor %}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close" >
            <span aria-hidden="true">&times;</span>
         </button>
          </div>
        {% endif %}
      {% endwith %}
      <h3>Login:</h3>
      <form method="post" action="{{url_for('users.login')}}">
          {{ form.email.label }}
          {{ form.email(class_="form-control") }}

          {{ form.password.label }}
          {{ form.password(class_="form-control") }}

          {{ form.submit(class_="btn btn-primary") }}

      </form>
      <small> Did you forget your password, again? <a href = "{{ url_for('users.renew_password') }}">Press here</a></small>
      <!--<h5>New to Developer's Institute? <a href="{{ url_for('users.signin_view') }}">Sign up!</a></h5>-->
</div>

{% endblock %}
