{% extends 'base.html' %}

{% block title %} Password Renewal {% endblock %}
{% block head %}
  <link rel="stylesheet" href="/static/styles/cross_style.css">
{% endblock %}

{% block body %}

<div class = "jumbotron">
  <h3>Password Renew:</h3>

  <form method="post" action="{{url_for('users.change_password')}}">

      {{ form.email(value = email) }}
     <div class="form-group">
      {{ form.password.label }}
      {{ form.password() }}
      </div>
      <div class="form-group">
      {{ form.confirm_pass.label }}
      {{ form.confirm_pass() }}
      </div>
      <div class="form-group">
      {{ form.submit() }}
      </div>
  </form>
</div>

{% endblock %}